/* Page Accueil*/

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


@font-face {
    font-family: 'monogramregular';
    src: url('../ressources/font/monogram-webfont.woff2') format('woff2'),
         url('../ressources/font/monogram-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.police_monogram{
    font-family: 'monogramregular';
    color: #fc9778;
}

/*Barre navigation*/


nav{
    background-color:none;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid lightgray;
    position:fixed;
    top: 0;
    background-color: white;
    z-index: 100;
}

label.logo{
    color: #fc9778;
    font-size: xx-large;
    line-height: 80px;
    font-family: 'monogramregular';
    text-decoration: none;
}

nav label a{
    color: #fc9778;
    text-decoration: none;
}
nav label a:hover{
    text-decoration: none;
    color:black;
    transition: .5s;
}

label.logo:hover{
    color:black;
    transition: .5s;
}

/*Barre de recherche*/

.barre_recherche_div{
    background-color: lightgray;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    height: 30px;
    width: 200px;
    margin-top: 25px;
}

.barre_recherche_input{
    border: none;
    width: 150px;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    height: 100%;
    background-color: lightgray;
}

.barre_recherche_input:focus { outline: 0; }

.barre_recherche_btn{
    border: none;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    background-color: lightgray;
    height: 100%;
    line-height: 30px;
    width: 40px;
}
.barre_recherche_btn img{
    margin-top: -4px;
}

nav a{
    height: 0;
    line-height: 80px;
}

nav ul{
    float: right;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
}

nav ul li a{
    color: #fc9778;
    font-family: 'Oswald', sans-serif;
    font-size: large;
    line-height: 80px;
    text-decoration: none;
    margin-right: 30px;
}

#btn_deconnexion{
    color: #fc9778;
    font-family: 'Oswald', sans-serif;
    font-size: large;
    line-height: 80px;
    text-decoration: none;
    margin-right: 30px;
    border: none;
    background-color: transparent;
}

#btn_deconnexion:hover{
    color:black;
    transition: .5s;
}

nav ul li a:hover{
    color:black;
    transition: .5s;
    text-decoration: none;
}

.checkbtn{
    font-size: 30px;
    color:#fc9778;
    line-height: 80px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

/* @media(max-width:952px){
    label.logo{
        font-size: 22px;
    }
} */

@media(max-width:854px){
    label.logo{
        padding:0 0;
        display: none;
    }
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #fc9778;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
    }
    nav ul li a{
        font-size: 20px;
        color: white;
    }
    #btn_deconnexion{
        font-size: 20px;
        color: white;
    }
    #check:checked ~ ul{
        left:0;
    }
}

@media(min-width:1000px){
    nav{
        justify-content: normal;
    }
    label.logo{
        margin-left: 70px;
        margin-right: 80px;
    }
    nav a img{
        display: inline-block;
        position: absolute;
        right: 68px;
        top: 25px;
    }
    nav ul{
        position: absolute;
        right: 110px;
    }
    .barre_recherche_div{
        width: 300px;
    }
}
