body{
    margin-top: 100px;
}

.cercle{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background: #ffcc3c;
    background-size:contain;
    background-repeat: no-repeat;
    border: 1px solid #ffcc3c;
}

.container_categorie{
    margin: 40px 0;
    margin-left: 40px;
}

.div_categorie{
    display: inline-block;
    margin-right: 20px;
}

.lien_categorie{
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
}

.lien_categorie:hover{
    text-decoration: none;
    color: grey;
    transition: .5s;
}
