*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

@font-face {
    font-family: 'monogramregular';
    src: url('../ressources/font/monogram-webfont.woff2') format('woff2'),
         url('../ressources/font/monogram-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.police_monogram{
    font-family: 'monogramregular';
    color: #fc9778;
}

.fond_uni{
    background-color: #ffe1a5;
}

.fond_radiant {
    background-image: linear-gradient(to bottom, white, #ffc4b4);
    background-repeat: no-repeat;
    background-attachment:fixed;
    height: 100%;
}

.div_recette{
    width: 300px;
    background-color: rgb(255, 200, 20);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    border-radius: 0 20px;
    margin-left: 20px;
    position: relative;
}

.nom_recette{
    position: absolute;
    bottom: 10px;
    left: 15px;
    text-decoration: none;
    color: black;
}

.auteur_recette{
    background-color: #fc9778;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    padding: 2px 5px;
    margin: 10px;
    position: absolute;
    top: 5px;
}

.categorie_recette{
    position: absolute;
    bottom: -16px;
    left: 15px;
    font-size: 13px;
}