*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/*Pages connexion et inscription*/

.fond_uni{
    background-color: #ffe1a5;
}

.contour_rose{
    border-color: #d34472;
    border-radius: 10em;
}

.bouton_inscription {
    border-color: #F99170;
    border-radius: 10em;
    color: #F99170;
    padding-left: 4em;
    padding-right: 4em;
}

.bouton_seconnecter{
    border-color: white;
    border-radius: 10em;
    color: white;
    background-color: #F99170;
    padding-left: 3em;
    padding-right: 3em;
}

.mot_de_passe_oublie{
    color:black;
    text-decoration: none;
    font-size: small;
}

.bouton_sinscrire{
    border-color: white;
    border-radius: 10em;
    color: white;
    background-color: #F99170;
    padding-left: 3em;
    padding-right: 3em;
}

.logo_inscription{
    margin-top: 8em;
}

/*thank page*/
.progress-ring__circle {
    display: block;
    transition: 0.35s stroke-dashoffset;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

#ring{
    margin-top: 20px;
}
#circle{
    top: 10px;
    left: 10px;
    width: 80px;
}