*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/*Pages connexion et inscription*/

.fond_uni{
    background-color: #ffe1a5;
}

.contour_rose{
    border-color: #d34472;
    border-radius: 10em;
}

.bouton_inscription {
    border-color: #F99170;
    border-radius: 10em;
    color: #F99170;
    padding-left: 4em;
    padding-right: 4em;
}

.bouton_seconnecter{
    border-color: white;
    border-radius: 10em;
    color: white;
    background-color: #F99170;
    padding-left: 3em;
    padding-right: 3em;
}

.mot_de_passe_oublie{
    color:black;
    text-decoration: none;
    font-size: small;
}

.bouton_sinscrire{
    border-color: white;
    border-radius: 10em;
    color: white;
    background-color: #F99170;
    padding-left: 3em;
    padding-right: 3em;
}

.logo_inscription{
    margin-top: 8em;
}


/* Page Accueil*/

.fond_radiant {
    background-image: linear-gradient(to bottom, white, #ffc4b4);
    background-repeat: no-repeat;
    background-attachment:fixed;
    height: 100%;
  }




@font-face {
    font-family: 'monogramregular';
    src: url('ressources/font/monogram-webfont.woff2') format('woff2'),
         url('ressources/font/monogram-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.police_monogram{
    font-family: 'monogramregular';
    color: #fc9778;
}

/*Barre navigation*/


nav{
    background-color:none;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
}

label.logo{
    color: #fc9778;
    font-size: xx-large;
    line-height: 80px;
    font-family: 'monogramregular';
}

/*Barre de recherche*/

.barre_recherche_div{
    background-color: lightgray;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    height: 30px;
    width: 200px;
    margin-top: 25px;
}

.barre_recherche_input{
    border: none;
    width: 150px;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    height: 100%;
    background-color: lightgray;
}

.barre_recherche_input:focus { outline: 0; }

.barre_recherche_btn{
    border: none;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    background-color: lightgray;
    height: 100%;
    line-height: 30px;
    width: 40px;
}

nav a{
    height: 0;
    line-height: 80px;
}

nav ul{
    float: right;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
}

nav ul li a{
    color: #fc9778;
    font-family: 'Oswald', sans-serif;
    font-size: large;
    line-height: 80px;
    text-decoration: none;
    margin-right: 30px;
}

nav ul li a:hover{
    color:black;
    transition: .5s;
    text-decoration: none;
}

label.logo:hover{
    color:black;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color:#fc9778;
    line-height: 80px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

/* @media(max-width:952px){
    label.logo{
        font-size: 22px;
    }
} */

@media(max-width:854px){
    label.logo{
        padding:0 0;
        display: none;
    }
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #fc9778;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
    }
    nav ul li a{
        font-size: 20px;
        color: white;
    }
    #check:checked ~ ul{
        left:0;
    }
}