/* Page Accueil*/

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    padding-bottom: 120px;
}

@font-face {
    font-family: 'monogramregular';
    src: url('../ressources/font/monogram-webfont.woff2') format('woff2'),
         url('../ressources/font/monogram-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.police_monogram{
    font-family: 'monogramregular';
    color: #fc9778;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    text-align: center;
    z-index: 2;
    background-color: #fc9778;
    padding-top: 10px;
}

.footer-link{
    text-decoration: none;
    color: black;
    transition: 0.25s;
}

.footer-link:hover{
    text-decoration: none;
    color: whitesmoke;
}