*{
    margin: 0;
    padding: 0;
    color: white;
}
#text-center{
    text-align: center;
}

#center{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

#diana-img{
    width: 170px;
}

#cloe-img{
    width: 170px;
}

#julie-img{
    width: 170px;
}

#rafael-img{
    width: 170px;
}

#valentin-img{
    width: 170px;
}

#eliott-img{
    width: 170px;
}